/***************************
****************************
MENU BLOCK
CORE
****************************
****************************/

@include keyframes(show-menu) {
   0%   { 
		top: -100px; 
	}
	100% { 
		top: 0; 
	}
}

.block-menu {
	@include span(full);
	position: relative;
	z-index: 250;
	background-color: $secondary-color;
	transition: left .45s ease, background .45s ease;

	@include MQ(large) {
		position: absolute;
		top: 70px;
		left: -245px;
		max-width: 245px;
		height: 100vh;
		background-color: $thirdly-color;
	}

	@include MQ(mobile) {
		top: 85px;
	}

	> .block-container {
		@include MQ(desktop) {
			position: static;
			padding: 0;
		}
	}

	&.is-open {
		left: 0;
		background-color: $secondary-color;

		.menu-items {
			.menu-item {
				display: block;
				width: auto;
				padding: 0;
				text-align: left;

				.menu-item-link {
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}

	&.is-fixed {
		@include animate(show-menu, .45s, linear, normal);
		z-index: 250;
		background-color: $thirdly-color;

		.menu-logo {
			left: -150px;
			opacity: 1;
		}
	}
}