/***************************
****************************
MENU BLOCK
LOGO
****************************
****************************/

.block-menu {
	.menu-logo {
		position: absolute;
		top: 50%;
		left: -250px;
		transform: translateY(-50%);
		opacity: 0;
		transition: opacity .25s ease, left .25s ease;

		img {
			max-width: 80px;
		}
	}
}