/***************************
****************************
FIELD TYPE
SELECT
****************************
****************************/

/***************************
****************************
_select.scss
****************************
****************************/
.selectric-wrapper {
	display: inline-block;
	width: 100%;

	.selectric {
		width: 100%;
		border: none;
		background-color: $input-color;

		.button {
			border-radius: 0;
		    background-color: transparent;


		    &:after {
		    	border-top-color: $secondary-color;
		   	 	border-width: 7px 7px medium;
		    }
		}

		.label {
			@include adjust-font-size-to(13px);
			@include adjust-leading-to(1);

			@include MQ(mobile) {
				width: 75vw;
			}
		}

		.button {
			background-mage: none;
		}

		.label,
		.button {
			height: 40px;
			line-height: 40px;
		}
	}

	&.parsley-error {
		.selectric {
			background-color: $error-background-input-color;
		}
	}

	&.parsley-success {
		.selectric {
			background-color: $success-background-input-color;
		}
	}

	.selectric-items {
		li {
			@include adjust-font-size-to(13px);
			@include adjust-leading-to(1);
			font-family: $primary-font;
			font-weight: 400;

			&:hover,
			&.selected {
				color: #fff;
				background-color: $thirdly-color;
			}
		}
	}

	&.selectric-custom-options {
		.selectric-items {
			li {
				margin: 10px;
				padding: 10px 5px;
				background-color: #fff;

				&:first-child {
					display: none;
				}

				&:last-child {
					margin: 10px !important;
				}

				.selectric-options-text {
					@include adjust-font-size-to(12px);
					@include adjust-leading-to(1);
					font-weight: 500;
					text-transform: uppercase;
					color: $primary-color;
				}

				.selectric-options-value {
					@include adjust-font-size-to(16px);
					@include adjust-leading-to(1);
					font-weight: 400;
					color: $thirdly-color;
					margin-top: 15px;
				}

				&.selected,
				&:hover {
					background-color: $secondary-color;

					.selectric-options-text,
					.selectric-options-value {
						color: #fff;
					}
				}
			}
		}
	}
}


/***************************
****************************
FIELD WRAPPER
****************************
****************************/
.field-wrapper {
	&.is-select {
		label {
			margin-right: 10px;
			margin-bottom: 0;
			font-weight: 300;
		}

		label,
		.selectric-wrapper {
			float: left;
		}
	}

	&.is-required {
		&.is-select {
			.selectric-wrapper {
				.selectric {
					border-color: $error-input-color;

					.label {
						color: $error-input-color;
					}

					.button {
						&:after {
							border-top-color: $error-input-color;
						}
					}
				}
			}
		}
	}
}