/***************************
****************************
BUTTON BLOCK
SIZES
****************************
****************************/

.button {
	min-height: 40px;

	&.is-large {
		height: 80px;
	}

	&.is-medium {
		height: 65px;
	}
}