/***************************
****************************
CONFIGURATION BLOCK
WARNING
****************************
****************************/

.block-configuration-warning {

	/// Couleur de background
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-warning-configuration: #fff;


	.block-warning-item {
		@include span(full);
		background-color: $background-color-warning-configuration;

		&:not(:nth-of-type(1)) {
			margin-top: 15px;
		}

		.block-content {
			min-height: 70px;

			@include MQ(tablet) {
				min-height: auto;
				border-left: none;
				border-right: none;
			}

			.block-content-center {
				@include MQ(tablet) {
					position: relative;
					transform: none;
				}
			}
			
			&.email {
				@include span(11 of 12);

				@include MQ(tablet) {
					@include span(full);
					min-height: auto;
				}
			}

			&.actions {
				@include span(1 last of 12);
				text-align: center;
				background-color: $secondary-color;

				@include MQ(tablet) {
					@include span(full);
				}
			}
		}
	}
}