/***************************
****************************
CONFIGURATION BLOCK
HISTORIC
****************************
****************************/

.block-configuration-historic {

	/// Couleur de background
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-historic-configuration: #fff;

	.block-historic-item {
		@include span(full);
		background-color: $background-color-historic-configuration;

		&:not(:nth-of-type(1)) {
			margin-top: 15px;
		}

		.block-content {
			min-height: 200px;

			@include MQ(tablet) {
				min-height: auto;
				border-left: none;
				border-right: none;
			}

			.block-content-center {
				@include MQ(tablet) {
					position: relative;
					transform: none;
				}
			}
			
			&.infos {
				@include span(11 of 12);
				text-align: left;

				@include MQ(tablet) {
					@include span(full);
					min-height: auto;
				}
			}

			&.actions {
				@include span(1 last of 12);
				text-align: center;
				background-color: $secondary-color;

				@include MQ(tablet) {
					@include span(full);
				}
			}
		}
	}
}