/***************************
****************************
CONFIGURATION BLOCK
NOTIFICATIONS
****************************
****************************/

.block-configuration-notifications {

	/// Couleur de background
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-notifications-configuration: #fff;


	.block-notifications-item {
		@include span(full);
		background-color: $background-color-notifications-configuration;

		&:not(:nth-of-type(1)) {
			margin-top: 15px;
		}

		.block-content {
			min-height: 70px;

			@include MQ(tablet) {
				min-height: auto;
				border-left: none;
				border-right: none;
			}

			.block-content-center {
				@include MQ(tablet) {
					position: relative;
					transform: none;
				}
			}
			
			&.url {
				@include span(4 of 12);
				text-align: center;

				@include MQ(tablet) {
					@include span(full);
					min-height: auto;
					text-align: left;
				}
			}

			&.type {
				@include span(4 of 12);

				@include MQ(tablet) {
					@include span(6 of 12);
					min-height: auto;
				}

				@include MQ(mobile) {
					@include span(full);
					min-height: auto;
				}
			}

			&.default {
				@include span(3 of 12);
				
				@include MQ(tablet) {
					@include span(6 last of 12);
					min-height: auto;
				}

				@include MQ(mobile) {
					@include span(full);
					min-height: auto;
				}
			}

			&.actions {
				@include span(1 last of 12);
				text-align: center;
				background-color: $secondary-color;

				@include MQ(tablet) {
					@include span(full);
				}
			}
		}
	}
}