/***************************
****************************
SEARCH FILTER BLOCK
CORE
****************************
****************************/

.block-filter {
	@include span(full);
	top: 0;
	padding-top: 20px;
	background-color: $body-color;
	transition: top .45s ease, background .45s ease, padding .45s ease;

	@include MQ(mobile) {
		padding-top: 0;
		background-color: #fff;
	}
	
	&.is-fixed {
		z-index: 100;
		padding: 0;
		background-color: #fff;
	}
}