/***************************
****************************
SEARCH FILTER BLOCK
SEARCH
****************************
****************************/

.block-filter-search {	
	position: relative;
	z-index: 150;

	@include MQ(mobile) {
		padding-bottom: 20px;
	}
	
	> .block-container {
		display: flex;

		@include MQ(mobile) {
			display: block;
		}
	}

	.block-content-wrapper {
		@include span(full);
		background-color: #fff;

		.block-content {
			&:nth-of-type(1) {
				@include span(10 of 12);
				padding: 20px 0 20px 20px;

				@include MQ(desktop) {
					@include span(full);
					padding: 20px;
					border: none;
				}

				@include MQ(mobile) {
					padding: 0;
				}

				h2 {
					@include adjust-font-size-to(30px);
					@include adjust-leading-to(1);
					font-weight: 300;
					text-align: left;
					text-transform: uppercase;
					color: $thirdly-color;

					@include MQ(tablet) {
						width: 100%;
					}
				}

				p {
					position: relative;
					top: 16px;
					left: 16px;

					@include MQ(tablet) {
						position: static;
					}

					a {
						display: inline;
						font-weight: 500;
						color: $secondary-color;

						span {
							transition: padding .45s ease;
						}

						&:hover {
							span {
								padding-left: 5px;
							}
						}
					}
				}

				h2,
				p {
					float: left;
					
					@include MQ(mobile) {
						display: none;
					}
				}

				.form-wrapper {
					@include span(full);

					.field-wrapper {
						position: relative;
						margin-top: 15px;
						margin-bottom: 0;

						&.is-input {
							@include span(3 of 12 static);
							max-width: 210px;

							@include MQ(tablet) {
								max-width: 170px;
							}

							@include MQ(mobile) {
								@include span(full);
								max-width: none;
							}

							button {
								position: absolute;
								top: 50%;
								right: 5px;
								z-index: 5;
								cursor: pointer;
								transform: translateY(-50%);

								i {
									&:before {
										@include adjust-font-size-to(20px);
										@include adjust-leading-to(1);
										color: $secondary-color;
									}
								}
							}
						}

						&.is-select {
							@include span(3 of 12 static);
							max-width: 220px;

							@include MQ(mobile) {
								@include span(full);
								max-width: none;
							}

							label {
								position: relative;
								top: 20px;
								transform: translateY(-50%);

								@include MQ(mobile) {
									position: static;
								}
							}

							.selectric-wrapper {
								width: 100%;
								max-width: 170px;

								@include MQ(mobile) {
									max-width: none;
								}
							
								.selectric {
									width: 100%;
								}
							}
						}

						&.is-button {
							@include span(2 of 12 static);

							@include MQ(mobile) {
								@include span(full);
							}

							button {
								@include span(full);
							}
						}
					}
				}
			}

			&:nth-of-type(2) {
				@include span(2 last of 12 static no-gutters inside);
				max-width: 170px;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 15px;

				@include MQ(desktop) {
					display: none;
				}

				a {
					@include span(full);
					position: relative;
					height: 100%;
					text-transform: uppercase;
					text-align: center;

					span {
						position: absolute;
						top: 50%;
						left: 0;
						width: 100%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}