/***************************
****************************
USER DETAILS BLOCK
SUMMARY
****************************
****************************/

.block-user-details-summary {

	/// Couleur de background du bloc
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-user-details-summary: #fff;

	
	.block-content-wrapper {
		@include span(full);
		display: flex;
		align-items: center;
	  	justify-content: center;
	  	position: relative;
		z-index: 150;
	  	background-color: $background-color-user-details-summary;
	
  		@include MQ(mobile) {
  			display: block;
  			padding: 20px;
  		}
	}

	.user-details-summary-title {
		@include span(4 of 12);
		@include adjust-font-size-to(30px);
		@include adjust-leading-to(1);
		font-weight: 300;
		margin-bottom: 0;
		padding-left: 20px;
		color: $thirdly-color;
		
		@extend %ellipsis;

		@include MQ(mobile) {
			@include span(full);
			margin-bottom: 10px;
		}
	}

	.status {
		@include span(2 of 12); 

		@include MQ(mobile) {
			display: none;
		}
	}

	.user-details-summary-balance {
		@include span(6 last of 12);
		padding: 25px 15px;
		color: #fff;
		background-color: $thirdly-color;

		@include MQ(mobile) {
			@include span(full);
		}

		b {
			@include adjust-font-size-to(20px);
			@include adjust-leading-to(1);
			font-weight: 400;
			padding-left: 15px;
		}
	}
}