/***************************
****************************
USER DETAILS BLOCK
FILTER
****************************
****************************/

.block-user-details-filter {

	/// Couleur de background du bloc
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-user-details-filter: #ffffff;


	.block-content-wrapper {
		@include span(full);
		position: relative;
		z-index: 150;
		display: table;
		padding: 20px;
		background-color: $background-color-user-details-filter;

		@include MQ(tablet) {
			display: block;
		}

		.user-details-filter-title {
			@include span(4 of 12);
			@include adjust-font-size-to(24px);
			@include adjust-leading-to(1.40);
			font-weight: 300;
			display: table-cell;
			vertical-align: middle;
			text-align: left;
			text-transform: uppercase;
			color: $thirdly-color;
  			
  			@include MQ(tablet) {
  				@include span(full);
  			}
		
			@include MQ(mobile) {
				@include adjust-font-size-to(22px);
				@include adjust-leading-to(1);
				text-align: center;
			}

			&.is-large {
				@include span(8 of 12);

				@include MQ(mobile) {
					@include span(full);
					text-align: left;
				}
			}
		}

		.user-details-filter-description {
			@include span(9 of 12);
			margin-bottom: gutters();
			color: #3f3f3f;

			@include MQ(tablet) {
  				@include span(full);
  			}

			+ .user-details-filter-form {
				@include span(9 of 12 no-gutters inside);

				@include MQ(tablet) {
	  				@include span(full);
	  			}
			}
		}

		.user-details-filter-form {
			@include span(5 of 12 no-gutters inside);

			@include MQ(tablet) {
  				@include span(full);
  			}

			.field-wrapper {
				position: relative;
				width: auto;
				margin-right: 30px;

				@include MQ(mobile) {
					width: 100%;
				}
			}
		}

		.user-details-filter-button {
			@include span(3 last of 12);
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;

			@include MQ(tablet) {
				@include span(full);
				position: relative;
				margin-top: 20px;
			}
		}
	}


	// GENERIC FIELDS
	.field-wrapper {
		margin-bottom: 10px;

		label,
		legend {
			font-weight: 400;
		}


		label,
		input,
		.selectric-wrapper {
			float: left;
		}

		&.is-input,
		&.is-select {
			@include MQ(mobile) {
				@include span(full);
			} 

			label {
				@include adjust-font-size-to(13px);
				@include adjust-leading-to(1);
				position: relative;
				top: 20px;
				transform: translateY(-50%);
				margin-right: 10px;
				color: $thirdly-color;
		
				@include MQ(mobile) {
					@include center(false, false);
					max-width: none;
					margin-bottom: 5px;
				}
			}
		}

		&.is-input {
			input {
				max-width: 140px;
					
				@include MQ(mobile) {
					max-width: none;
				}
			}
		}

		&.is-select {
			.selectric-wrapper {
				width: auto;
				max-width: 170px;

				@include MQ(mobile) {
					max-width: none;
				}
			} 
		}

		&.is-checkbox {
			input {
				&[type="checkbox"] {
					+label {
						color: $thirdly-color;
					}
				}
			}
		}
	}
}