/***************************
****************************
USER DETAILS BLOCK
REQUEST
****************************
****************************/

.block-user-details-request {

	/// Couleur de background du bloc
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-user-details-request: #fff;
	

	.block-request-item {
		@include span(full);
		background-color: $background-color-user-details-request;

		&:not(:nth-of-type(1)) {
			margin-top: 20px;
		}

		.block-content {
			min-height: 115px;

			@include MQ(tablet) {
				min-height: auto;
				border-left: none;
				border-right: none;
			}

			.block-content-center {
				@include MQ(tablet) {
					position: relative;
					transform: none;
				}
			}

			&.status {
				@include span(15.3% no-gutters);
				text-align: center;

				@include MQ(tablet) {
					@include span(full);
					text-align: left;
				}
			}

			&.infos {
				@include span(18% no-gutters);

				@include MQ(tablet) {
					@include span(6 of 12);
				}

				@include MQ(mobile) {
					@include span(full);
				}
			}

			&.date {
				@include span(17.1% no-gutters);

				@include MQ(tablet) {
					@include span(6 last of 12);
				}

				@include MQ(mobile) {
					@include span(full);
				}
			}

			&.links {
				@include span(26.55% no-gutters);

				@include MQ(tablet) {
					@include span(full);
				}
			}

			&.actions {
				@include span(22.95% no-gutters);
				text-align: center;
				background-color: $secondary-color;

				@include MQ(tablet) {
					@include span(full);
				}

				.block-action {
					label {
						@include adjust-font-size-to(12px);
						@include adjust-leading-to(1);
					    font-weight: 500;
					    text-transform: uppercase;
					    color: #fff;
					    cursor: pointer;
					    padding: 25px 0;
					}

					input {
						display: none;
					}
				}
			}
		}

		&.not-allowed {
			cursor: not-allowed;
			opacity: 0.6;

			.block-content {
				&.status {
					i {
						&:before {
							color: $color-dark-not-allowed;
						}
					}

					span {
						color: $color-dark-not-allowed;
					}
				}

				&.links {
					.block-item {
						span {
							color: $color-dark-not-allowed;
						}
					}
				}

				&.infos,
				&.date {
					.block-item {
						.block-item-value {
							color: $color-dark-not-allowed;
						}
					}
				}

				&.actions {
					background-color: $background-color-not-allowed;

					.block-item {
						color: $color-dark-not-allowed;
					}
				}
			}
		}
	}
}