/***************************
****************************
USER DETAILS BLOCK
ACCOUNT
****************************
****************************/

.block-user-details-account {

	/// Couleur de background du bloc
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-user-details-account: #fff;


	.block-account-item {
		@include span(full);
		background-color: $background-color-user-details-account;

		&:not(:nth-of-type(1)) {
			margin-top: 20px;
		}

		.block-content {
			min-height: 150px;

			@include MQ(tablet) {
				min-height: auto;
				border-left: none;
				border-right: none;
			}

			.block-content-center {
				@include MQ(tablet) {
					position: relative;
					transform: none;
				}
			}

			&.status {
				@include span(2 of 12);
				border-right: 1px solid $array-border-color;
				text-align: center;

				@include MQ(tablet) {
					@include span(full);
					text-align: left;
				}
			}

			&.infos {
				@include span(3 of 12);

				@include MQ(tablet) {
					@include span(full);
				}
			}

			&.actions {
				@include span(4 of 12);
				text-align: center;

				@include MQ(tablet) {
					@include span(full);
				}
				
				.block-item {
					@include adjust-font-size-to(13px);
					@include adjust-leading-to(1);
					font-weight: 500;
					text-align: center;
					text-transform: uppercase;
					color: $thirdly-color;
					padding: 20px 0;
				
					@include MQ(tablet) {
						padding: 0;
					}
				
					i {
						&:before {
							@include adjust-font-size-to(28px);
							@include adjust-leading-to(1);
						}
					}
				}
			}

			&.balance {
				@include span(3 last of 12);
				@include adjust-font-size-to(12px);
				@include adjust-leading-to(1);
				font-weight: 300;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				background-color: $thirdly-color;

				@include MQ(tablet) {
					@include span(full);
				}

				b,
				strong {
					@include adjust-font-size-to(20px);
					@include adjust-leading-to(1);
					font-weight: 400;
				}
			}
		}


		&.not-allowed {
			cursor: not-allowed;
			opacity: 0.6;

			.block-content {
				&.status {
					i {
						&:before {
							color: $color-dark-not-allowed;
						}
					}

					span {
						color: $color-dark-not-allowed;
					}
				}

				&.infos {
					.block-item {
						.block-item-value {
							color: $color-dark-not-allowed;
						}
					}
				}

				&.balance {
					color: $color-dark-not-allowed;
					background-color: $background-color-not-allowed;
				}
			}
		}
	}
}