/***************************
****************************
HEADER BLOCK
LOGO
****************************
****************************/

header {
	&[role="banner"] {
		.block-user {
			.block-logo {
				left: 15px;
				transform: translateY(-50%);

				@include MQ(tablet) {
					@include span(6 of 12);
				}

				img {
					max-width: 100px;
				}
			}
		}
	}
}