/***************************
****************************
MESSAGE BLOCK
SIZES
****************************
****************************/

.message {

	/// Taille du message sous desktop
	/// @author Antoine Feron
	/// @type Number
	/// @since v1.0.0
	$width-desktop-message: $size-small-modal;

	/// Taille du message sous mobile
	/// @author Antoine Feron
	/// @type Number
	/// @since v1.0.0
	$width-mobile-message: 100%;


	&[data-size="small"] {
		width: $width-desktop-message;

		@include MQ(mobile) {
			width: $width-mobile-message;
		}
	}
}