/***************************
****************************
MESSAGE BLOCK
SECTION
****************************
****************************/

.message {
	.message-section {
		margin: 25px 0 0;

		@include MQ(mobile) {
			margin: 12.5px 0 0;
		}
	}	

	&.is-success {
		p {
			color: $success-input-color;
		}
	}

	&.is-error {
		p {
			color: $error-input-color;
		}
	}
}