/***************************
****************************
MESSAGE BLOCK
CORE
****************************
****************************/

/// Taille du message
/// @author Antoine Feron
/// @type Number
/// @since v1.0.0
$size-small-message : 450px;


// ANIMATION
@include keyframes(show-message) {
   	0% { 
		visibility: hidden;
		opacity: 0;
	}

	15% {
		visibility: visible;
		opacity: 1;
	}

	85% {
		visibility: visible;
		opacity: 1;
	}

	100% { 
		visibility: hidden;
		opacity: 0;
	}
}

.message {
	@include center;
	position: fixed;
	padding: 25px 30px;
	z-index: 1000;
	visibility: hidden;
	opacity: 0;

	@include MQ(mobile) {
		width: 100vw;
	}

	&.is-open {
		@include animate(show-message, 5s, linear, normal);
	}

	&.is-success {
		background-color: $success-background-input-color;	
	}

	&.is-error {
		background-color: $error-background-input-color;	
	}

	article {
		@include span(full);

		.message-header,
		.message-section{
			@include span(full);
		}
	}
}