/***************************
****************************
MODAL BLOCK
CORE
****************************
****************************/

/// Taille de la modale
/// @author Antoine Feron
/// @type Number
/// @since v1.0.0
$size-small-modal : 450px;


.modal {

	/// Couleur de background de la modale
	/// @author Antoine Feron
	/// @type Number
	/// @since v1.0.0
	$background-color-modal: #fff;


	@include center;
	position: fixed;
	z-index: 1000;
	background-color: $background-color-modal;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s ease .45s, opacity .45s ease, width .45s ease;

	@include MQ(mobile) {
		width: 100vw;
	}

	&.is-open {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s ease 0s, opacity .45s ease, width .45s ease;
	}

	article {
		@include span(full);

		.modal-header,
		.modal-section,
		.modal-footer {
			@include span(full);
		}
	}
}