/***************************
****************************
MODAL BLOCK
SIZES
****************************
****************************/

.modal {
	/// Taille de la modale sous desktop
	/// @author Antoine Feron
	/// @type Number
	/// @since v1.0.0
	$width-desktop-modal: $size-small-modal;

	/// Taille de la modale sous mobile
	/// @author Antoine Feron
	/// @type Number
	/// @since v1.0.0
	$width-mobile-modal: 100%;


	&[data-size="small"] {
		width: $width-desktop-modal;

		@include MQ(mobile) {
			width: $width-mobile-modal;
		}
	}
}