/***************************
****************************
MODAL BLOCK
FOOTER
****************************
****************************/

.modal {
	.modal-footer {
		padding: 0 30px 15px 30px;
		border-top: 2px solid #f2f2f2;
		text-align: center;

		@include MQ(mobile) {
			padding: 0 15px;
		}

		button {
			margin-right: 10px;
		}

		button,
		input {
			display: inline-block;
			width: 100%;
			max-width: 170px;
			margin-top: 15px;

			@include MQ(mobile) {
				@include span(full);
				max-width: none;
			}
		}
	}
}