[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'espacepartenaire' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-replay {
  &:before {
    content: $icon-replay;
  }
}
.icon-pen {
  &:before {
	content: $icon-pen;
  }
}
.icon-logout {
	&:before {
		content: $icon-logout;
	}
}

.icon-lockoff {
	&:before {
		content: $icon-lockoff;
	}
}

.icon-lockon {
	&:before {
		content: $icon-lockon;
	}
}

.icon-close-with-circle {
	&:before {
		content: $icon-close-with-circle;
	}
}

.icon-archive {
	&:before {
		content: $icon-archive;
	}
}

.icon-arrow {
	&:before {
		content: $icon-arrow;
	}
}

.icon-arrow-down {
	&:before {
		content: $icon-arrow-down;
	}
}

.icon-arrow-quicksand-down {
	&:before {
		content: $icon-arrow-quicksand-down;
	}
}

.icon-arrow-quicksand-up {
	&:before {
		content: $icon-arrow-quicksand-up;
	}
}

.icon-arrow-top {
	&:before {
		content: $icon-arrow-top;
	}
}

.icon-attention {
	&:before {
		content: $icon-attention;
	}
}

.icon-check {
	&:before {
		content: $icon-check;
	}
}

.icon-close {
	&:before {
		content: $icon-close;
	}
}

.icon-floppy {
	&:before {
		content: $icon-floppy;
	}
}

.icon-frozen {
	&:before {
		content: $icon-frozen;
	}
}

.icon-magnifer {
	&:before {
		content: $icon-magnifer;
	}
}

.icon-opposition {
	&:before {
		content: $icon-opposition;
	}
}

.icon-print {
	&:before {
		content: $icon-print;
	}
}

.icon-refund {
	&:before {
		content: $icon-refund;
	}
}

.icon-trash {
	&:before {
		content: $icon-trash;
	}
}

.icon-wait {
	&:before {
		content: $icon-wait;
	}
}

.icon-burger {
	position: relative;
	width: 30px;
	height: 15px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	transform: rotate(0deg);

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #fff;
		left: 0;
		border-radius: 4px;
		opacity: 1;
		transform: rotate(0deg);
		transition: all .25s ease-in-out;

		&:nth-child(1) {
		  top: 0px;
		}

		&:nth-child(2),
		&:nth-child(3) {
		  top: 6px;
		}

		&:nth-child(4) {
		  top: 12px;
		}
	}

	&.is-open {
		span {
			&:nth-child(1) {
				top: 8px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
				top: 8px;
				width: 0%;
				left: 50%;
			}
		}
	}
}