/***************************
****************************
PAYMENT STATUS STYLE
****************************
****************************/
.status {
	position: relative;

	i {
	 	&:before {
			@include adjust-font-size-to(18px);
			@include adjust-leading-to(1);
	 	}
	}

	span {
		position: relative;
		top: -2.25px;
		left: 4.5px;
	}

	$status: (frozen: $status-frozen-color, pending: $status-pending-color, achieved: $status-achieved-color, refunded: $status-refunded-color, failed: $status-failed-color, opposition: $status-opposition-color, pending-validation: $status-pending-validation-color, blocked: $status-blocked-color, cancelled: $status-cancelled-color, current: $status-current-color, incomplete: $status-incomplete-color, declined: $status-declined-color);

	@each $type, $properties in $status {
		&.is-#{$type} {
			i {
				&:before {
					color: $properties;
				}
			}

			+ .motif {
				padding: 10px;
				
				b {
					color: $properties;
				}
			}

			.simptip-movable {
				@include apply-color($properties);
			}
		}
	}
}