/* CLEARFIX */
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/* FLOAT */
.clear {
	clear: both;
}

/* TABLE */
.table {
	display: table;
	width: 100%;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}

/* TEXT */
.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

.align-center {
	text-align: center !important;
}

/* PADDING */
.no-padding {
	padding: 0 !important;
}

.no-padding-top {
	padding-top: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

/* MARGIN */
.no-margin {
	margin: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-margin-left {
	margin-left: 0 !important;
}

.last,
.no-margin-right {
	margin-right: 0 !important;
}

/* BACKGROUND */
.no-background {
	background-color: transparent !important;
}

/* MARGIN */
/* .first-child {
	margin-left: 0 !important;
}

.last-child {
	margin-right: 0 !important;
} */

/* TEXT-TRANSFORM */
.is-capitalize {
	text-transform: capitalize !important;
}

.is-lowercase {
	text-transform: lowercase !important;
}

.is-uppercase {
	text-transform: uppercase !important;
}

/* POSITION */
.is-fixed {
	position: fixed !important;
}

.is-absolute {
	position: absolute !important;
}

.is-relative {
	position: relative !important;
}

.is-static {
	position: static !important;
}

/* WIDTH */
.max-width-reset {
	max-width: none !important;
}

/* BORDER */
.no-border {
	border: none !important;
}

.no-border-top {
	border-top: none !important;
}

.no-border-bottom {
	border-bottom: none !important;
}

.no-border-left {
	border-left: none !important;
}

.no-border-right {
	border-right: none !important;
}

.border-top {
	border-top: 1px solid $body-color;
}

.border-bottom {
	border-bottom: 1px solid $body-color;
}

.border-left {
	border-left: 1px solid $body-color;
}

.border-right {
	border-right: 1px solid $body-color;
}