// IMPORTS -----------------------------------------------------------------------
@import "../../bower_components/susy/sass/susy";

// GRID --------------------------------------------------------------------------

$susy: susy-grid(center, 12, 70px, 30px);
$susy2: susy-grid(left, 12, 70px, 30px);

// FONT COLORS -------------------------------------------------------------------

/// Couleur primaire du thème principal
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$primary-color: #3f3f3f;

/// Couleur secondaire du thème principal
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$secondary-color: #0086c7;

/// Couleur tertiaire du thème principal
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$thirdly-color: #125b97;


// BODY COLORS -------------------------------------------------------------------

/// Couleur de background du thème principal
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$body-color: #efefef;

// FORMS COLORS ------------------------------------------------------------------

/// Couleur de l'input
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$input-color: #efefef;

/// Couleur de l'input lors d'une erreur
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$error-input-color: #b94a48;

/// Couleur de l'input lors du succès
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$success-input-color: #468847;

/// Couleur de background de l'input lors d'une erreur
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$error-background-input-color: #f2dede;

/// Couleur de background de l'input lors du succès
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$success-background-input-color: #dff0d8;

/// Couleur de la bordure de l'input lors du succès
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$success-border-input-color: #d6e9c6;

/// Couleur de la bordure de l'input lors d'une erreur
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$error-border-input-color: #eed3d7;

// TOOLTIP COLORS ----------------------------------------------------------------

/// Hauteur par défaut de la tooltip
/// @author Antoine Feron
/// @type String
/// @since v1.0.0
$tooltipHeight: 22px;

/// Dimension par défaut du pointeur de la tooltip
/// @author Antoine Feron
/// @type String
/// @since v1.0.0
$arrowSize: 6px;

/// Couleur par défaut de la tooltip
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$tooltipColor: #125b97;

/// Couleur par défaut du texte de la tooltip
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$tooltipTextColor: #fff;

// ARRAYS COLORS -----------------------------------------------------------------

/// Couleur de background des head des tableaux
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$array-head-color: #0e4979;

/// Couleur des bordures des tableaux
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$array-border-color: #efefef;

// NOT ALLOWED COLORS ------------------------------------------------------------

/// Couleur de background des tableaux non-autorisés
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$background-color-not-allowed: #ccc;

/// Couleur primaire des tableaux non-autorisés
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$color-light-not-allowed: #fff;

/// Couleur secondaire des tableaux non-autorisés
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$color-dark-not-allowed: #444;

// STATUS COLORS -----------------------------------------------------------------

/// Couleur du statut en cours
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-current-color: $secondary-color;

/// Couleur du statut refusé
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-declined-color: #999;

/// Couleur du statut incomplet
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-incomplete-color: #ffae44;

/// Couleur du statut gelé
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-frozen-color: #6ccaf7;

/// Couleur du statut en attente
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-pending-color: #0086c7;

/// Couleur du statut réalisé
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-achieved-color: #05d392;

/// Couleur du statut rembboursé
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-refunded-color: #05d392;

/// Couleur du statut échoué
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-failed-color: #ffae44;

/// Couleur du statut en opposition
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-opposition-color: #ffae44;

/// Couleur du statut en attente de validation
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-pending-validation-color: #ffae44;

/// Couleur du statut bloqué
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-blocked-color: #999;

/// Couleur du statut annulé
/// @author Antoine Feron
/// @type Color
/// @since v1.0.0
$status-cancelled-color: #999;

// FONT SIZES -------------------------------------------------------------------
$relative-font-sizing : false;
$base-font-size       : 12px;
$base-line-height     : 15px;

// FONT  ------------------------------------------------------------------------
$primary-font: 'Montserrat', sans-serif;

// ICOMOON ----------------------------------------------------------------------
$icon-replay: "\e916";
$icon-pen: "\e914";
$icon-logout: "\e915";
$icon-lockoff: "\e912";
$icon-lockon: "\e913";
$icon-close-with-circle: "\e900";
$icon-archive: "\e901";
$icon-arrow: "\e902";
$icon-arrow-down: "\e903";
$icon-arrow-quicksand-down: "\e904";
$icon-arrow-quicksand-up: "\e905";
$icon-arrow-top: "\e906";
$icon-attention: "\e907";
$icon-check: "\e908";
$icon-close: "\e909";
$icon-floppy: "\e90a";
$icon-frozen: "\e90b";
$icon-magnifer: "\e90c";
$icon-opposition: "\e90d";
$icon-print: "\e90e";
$icon-refund: "\e90f";
$icon-trash: "\e910";
$icon-wait: "\e911";


// BREAKPOINTS -------------------------------------------------------------------
$large-desktop : 1400px;
$desktop : 1110px;
$large : 960px;
$tablet : 768px;
$mobile : 480px;

// PATH ---------------------------------------------------------------------------
$font-path: "../fonts" !default;
$img-path: "../img" !default;