/***************************
****************************
AUTHENTIFICATION BLOCK
CORE
****************************
****************************/

.block-authentification {

	/// Couleur de background du bloc d'authentification
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-authentification: #fff;


	@include center;
	@include span(8 of 12);
	max-width: span(8 static of 12);
	position: fixed; 
	background-color: $background-color-authentification;
	transition: width .45s ease;

	@include MQ(tablet) {
		@include span(10 of 12);
	}
}