/***************************
****************************
PAGINATION BLOCK
CORE
****************************
****************************/

.block-pagination {
	@include span(full);
	margin-top: 15px;

	> .block-container {
		padding: 0 15px;
		
		.user &,
		.transaction & {
			padding: 0;
		}
	}

	.block-content-wrapper {
		@include span(full);
		position: relative;
		padding: 20px;
		background-color: $thirdly-color;
	}

	ul {
		li {
			display: inline-block;

			a {
				@include adjust-font-size-to(16px);
				@include adjust-leading-to(1);
				padding: 12px 5px;
				text-align: center;
				color: #fff;

				&:hover {
					font-weight: 500;
				}

				&.button {
					@include adjust-font-size-to(13px);
					@include adjust-leading-to(1);
					font-weight: 500;
					color: $secondary-color;
				}
			}

			&.is-active {
				a {
					font-weight: 500;
				}
			}
		}
	}
}