/***************************
****************************
PAGINATION BLOCK
DISPLAY PER PAGE
****************************
****************************/

.block-pagination {
	.display-per-pages {
		@include span(4 last of 12 static);
		text-align: right;

		@include MQ(tablet) {
			display: none;
		}

		p {
			@include adjust-font-size-to(16px);
			@include adjust-leading-to(1);
			font-weight: 300;
			color: #3f3f3f;

			@include MQ(mobile) {
				margin-bottom: 10px;
			}
		}

		ul {
			li {
				margin-left: 10px;

				a {
					background-color: #fff;

					&:hover,
					&.is-active {
						color: #fff;
						background-color: $thirdly-color;
					}

					&.button {
						position: relative;
						width: 40px;
					}
				}
			}
		}

		p,
		ul {
			display: inline-block;
		}
	}
}