/***************************
****************************
PAGINATION BLOCK
PAGINATION
****************************
****************************/

.block-pagination {
	.pagination {
		@include span(4 of 12 static);
		max-width: 290px;

		@include MQ(tablet) {
			@include span(full);
			max-width: none;
			text-align: center;
		}

		li {
			a {
				&.button {
					position: relative;
					width: 100px;
					background-color: #fff;

					&:hover {
						color: #fff;
						background-color: $thirdly-color;
					}
					
					&.prev {
						margin-right: 15px;
					}

					&.next {
						margin-left: 15px;
					}
				}

				&:not(.button) {
					padding: 0 2.5px;
				}
			}

			&:not(.is-active) {
				&:not(.is-button) {
					@include MQ(tablet) {
						display: none;
					}
				}
			}
		}
	}
}