/***************************
****************************
SHORTCODES
CORE
****************************
****************************/

.icon {
	display: inline-block;
	margin: 0 5px 5px 0;
	overflow: hidden;

	i {
		&:before {
			@include adjust-font-size-to(34px);
			@include adjust-leading-to(1);
		}
	}
}