/***************************
****************************
DROP SHADOW 
CORE
****************************
****************************/

.drop-shadow {
	position: absolute;
	bottom: -13px;
	width: 100%;
	height: 13px;
	background-image: url('../img/background-shadow-filter.png');
	background-repeat: no-repeat;
	background-position: center;

	@include MQ(desktop) {
		display: none;
	}
}