/***************************
****************************
PANEL BLOCK
SECTION
****************************
****************************/

.panel {
	.panel-section {
		max-height: calc(100vh - 200px);
		padding: 0 15px 0 30px;
		margin-top: 25px;
		overflow-y: auto;

		@include MQ(mobile) {
			padding: 0 7.5px 0 15px;
			margin: 12.5px 0;
		}

		.field-wrapper {
			legend,
			label {
				@include adjust-font-size-to(13px);
				@include adjust-leading-to(1);
				font-weight: 500;
				color: $primary-color;
				display: block;
				margin-bottom: 5px;
			}
		}
		
		.block-line {
			@include span(full);
			padding-bottom: 2.5px;

			&:not(:nth-of-type(1)) {
				padding-top: 5px;
				border-top: 1px solid $array-border-color;
			}

			.block-item {
				display: inline-block;

				&:nth-of-type(1) {
					width: 255px;
					vertical-align: top;
				}
			}

			.block-item {
				.block-item-title {
					font-weight: 300;
					color: $primary-color;
					text-transform: uppercase;
				}

				.block-item-value {
					font-weight: 400;
					color: $thirdly-color;
				}

				.block-item-title,
				.block-item-value {
					@include adjust-font-size-to(12px);
					@include adjust-leading-to(1);
				}

				.block-item-action {
					float: left;
					padding: 13px;

					&:nth-of-type(1) {
						background-color: $secondary-color;
					}

					&:nth-of-type(2) {
						background-color: $thirdly-color;
						border-left: 1px solid #fff;
					}

					i {
						&:before {
							@include adjust-font-size-to(26px);
							@include adjust-leading-to(1);
							color: #fff;
						}
					}
				}
			}
		}
	}	
}