/***************************
****************************
PANEL BLOCK
SIZES
****************************
****************************/

.panel {

	/// Taille du panel sous desktop
	/// @author Antoine Feron
	/// @type Number
	/// @since v1.0.0
	$width-desktop-panel: $size-small-panel;

	/// Taille du panel sous mobile
	/// @author Antoine Feron
	/// @type Number
	/// @since v1.0.0
	$width-mobile-panel: 100%;


	&[data-size="small"] {
		article {
			width: $width-desktop-panel;

			@include MQ(mobile) {
				width: $width-mobile-panel;
			}

			@include yep(csstransitions) {
				transition: width .45s ease;
			}

			.panel-section {
				width: calc(#{$width-desktop-panel} - 2.5%);

				@include MQ(mobile) {
					width: calc(#{$width-mobile-panel} - 2.5%);
				}
			}
		}
	}
}