/***************************
PANEL BLOCK
ANIMATE
****************************
****************************/

.panel {
	&[data-animation="translate-from-right"] {
		&[data-size="small"] {
			right: -#{$size-small-panel};

			@include MQ(mobile) {
				right: -100vw;
			}
		}

		@include yep(csstransitions) {
			transition: right .45s ease;
		}

		&.is-open {
			right: 0;
		}
	}
}