/***************************
****************************
PANEL BLOCK
CORE
****************************
****************************/

/// Taille du panel
/// @author Antoine Feron
/// @type Number
/// @since v1.0.0
$size-small-panel: 430px;

.panel {

	/// Couleur de background du panel
	/// @author Antoine Feron
	/// @type Number
	/// @since v1.0.0
	$background-color-panel: #fff;


	position: fixed;
	top: 0;
	height: 100vh;
	z-index: 1000;
	background-color: $background-color-panel;

	@include MQ(mobile) {
		width: 100vw;
	}

	article {
		@include span(full);

		.panel-header,
		.panel-section,
		.panel-footer {
			@include span(full);
		}
	}
}