/***************************
****************************
TRANSACTION BLOCK
CREATE STEPS
****************************
****************************/

.block-transaction {
	&.step-1 {
		.block-container {
			.block-content-wrapper {
				.block-transaction-buttons {
					@include span(full);
					display: flex;
					justify-content: center;
					flex-direction: row;
					height: 120px;

					@include MQ(mobile) {
						display: block;
						height: auto;
					}

					.block-transaction-button {
						@include span(3 of 12);
						margin-top: gutters();

						@include MQ(tablet) {
							@include span(4 of 12);

							&:nth-of-type(2n) {
								@include span(4 last of 12);
							}
						}

						@include MQ(mobile) {
							@include span(6 of 12);

							&:nth-of-type(2n) {
								@include span(6 last of 12);
							}
						}
					}
				}

				.block-transaction-actions {
					.block-transaction-button {
						@include MQ(tablet) {
							@include span(6 of 12);
							@include squish(3, 3);
						}

						@include MQ(mobile) {
							@include span(full);
							@include squish(0);
						}
					}
				}
			}
		}
	}

	// STEP 3
	&.step-3 {
		.block-container {
			.block-content-wrapper {
				.block-transaction-wrapper {
					.block-transaction-content {
						&.send-code {
							@include span(full);
							margin-top: 30px;
							padding: 20px;
							background-color: $thirdly-color;

							.send-code-content {
								@include span(4 of 6);

								@include MQ(tablet) {
									@include span(6 of 10);
								}

								@include MQ(mobile) {
									@include span(8 of 12);
								}

								.send-code-title {
									font-weight: 500;
									text-transform: uppercase;
								}

								.send-code-description {
									font-weight: 300;
								}

								.send-code-title,
								.send-code-description {
									@include adjust-font-size-to(12px);
									@include adjust-leading-to(1);
									color: #fff;
								}
							}

							.button {
								@include span(2 last of 6);
								background-color: $secondary-color;


								@include MQ(tablet) {
									@include span(4 last of 10);
								}

								@include MQ(mobile) {
									@include span(4 last of 12);
								}
							}
						}

						&.confirm-code {
							@include span(full);
							display: none;
							padding: 20px;
							border-top: 1px solid #fff;
							background-color: $thirdly-color;

							.confirm-code-content {
								@include span(4 of 6);

								@include MQ(tablet) {
									@include span(6 of 10);
								}

								@include MQ(mobile) {
									@include span(8 of 12);
								}

								.confirm-code-title {

									font-weight: 500;
									text-transform: uppercase;
								}

								.confirm-code-description {
									font-weight: 300;

									span {
										@include adjust-font-size-to(10px);
										@include adjust-leading-to(1);
										display: block;
										margin-top: 5px;
									}

									a {
										display: inline-block;
										font-weight: 500;
										color: #fff;
									}
								}

								.confirm-code-title,
								.confirm-code-description {
									@include adjust-font-size-to(12px);
									@include adjust-leading-to(1);
									color: #fff;
								}
							}

							.confirm-code-form {
								@include span(2 last of 6);

								@include MQ(tablet) {
									@include span(4 last of 10);
								}

								@include MQ(mobile) {
									@include span(4 last of 12);
								}

								input {
									@include adjust-font-size-to(15px);
									@include adjust-leading-to(1);
									font-weight: 600;
									color: $thirdly-color;
								}
							}
						}
					}
				}
			}
		}
	}

	// STEP 4
	&.step-4 {
		.block-container {
			.block-content-wrapper {
				.block-transaction-wrapper {
					.block-transaction-content {
						&.message {
							@include span(full);
							padding: 20px;
							margin-top: 30px;
							text-align: center;

							&.success {
								background-color: $success-background-input-color;
							}

							&.error {
								background-color: $error-background-input-color;
							}

							.message-description {
								@include adjust-font-size-to(12px);
								@include adjust-leading-to(1);
								font-weight: 500;
								color: #fff;
								text-transform: uppercase;

								i {
									margin-right: 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	// STEP 3 & 4
	&.step-3,
	&.step-4 {
		.block-container {
			.block-content-wrapper {
				.block-transaction-wrapper {
					@include span(6 of 12);
					@include squish(3, 3);
					margin-top: 50px;

					@include MQ(tablet) {
						@include span(10 of 12);
						@include squish(1, 1);
					}

					@include MQ(mobile) {
						@include span(full);
						@include squish(0);
						margin-top: 25px;
					}

					.block-transaction-content {
						@include span(3 of 6);

						@include MQ(tablet) {
							@include span(5 of 10);
						}

						@include MQ(mobile) {
							@include span(6 of 12);
						}

						.transaction-content {
							.transaction-content-title {
								border-bottom: 1px solid #efefef;
							}

							.transaction-content-subtitle {
								text-transform: uppercase;

								span {
									font-weight: 300;
								}
							}

							.transaction-content-title,
							.transaction-content-subtitle {
								@include adjust-font-size-to(12px);
								@include adjust-leading-to(1);
								font-weight: 500;
								color: $primary-color;
							}

							.transaction-content-description {
								@include adjust-font-size-to(20px);
								@include adjust-leading-to(1);
								font-weight: 400;
								color: $thirdly-color;
								min-height: 50px;

								&.is-small {
									@include adjust-font-size-to(12px);
									@include adjust-leading-to(1.5);
									overflow-wrap: break-word;
								}
							}

							.transaction-content-title,
							.transaction-content-subtitle,
							.transaction-content-description {
								padding: 10px 20px 5px 20px;

								@include MQ(mobile) {
									padding: 5px;
								}
							}
						}
					}
				}

				.block-transaction-actions {
					border-top: 1px solid #efefef;
				}
			}
		}
	}
}