/***************************
****************************
TRANSACTION BLOCK
CREATE
****************************
****************************/

.block-transactions {

	/// Couleur de background du bloc des transactions
	/// @author Antoine Feron
	/// @type Color
	/// @since v1.0.0
	$background-color-transactions: #fff;


	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	z-index: 500;
	max-height: 0;
	background-color: $background-color-transactions;
	overflow-x: hidden;
	transition: top .45s ease, max-height .40s cubic-bezier(0.39, 0.575, 0.565, 1);

	&.is-open {
		max-height: 100%;
		transition: top .45s ease, max-height .40s cubic-bezier(0.39, 0.575, 0.565, 1) .20s;
	}
}

.block-transaction {
	@include span(full);
	width: 100vw;

	.block-container {
		.block-content-wrapper {
			@include span(full);
			padding: 45px 0;

			@include MQ(mobile) {
				padding: 25px 0;
			}

			.block-transaction-nav {
				@include adjust-font-size-to(13px);
				@include adjust-leading-to(1);
				font-weight: 500;
				text-transform: uppercase;
				position: absolute;
				top: 20px;
				left: 30px;
				color: $thirdly-color;
			}

			.block-transaction-title {
				@include adjust-font-size-to(30px);
				@include adjust-leading-to(1);
				font-weight: 300;
				text-transform: uppercase;
				color: $thirdly-color;
			}

			.block-transaction-paragraph {
				@include adjust-font-size-to(15px);
				@include adjust-leading-to(1);
				font-weight: 400;
				margin: 25px 0;
			}

			.block-transaction-title,
			.block-transaction-paragraph {
				@include span(8 of 12);
				@include squish(2, 2);
				text-align: center;

				@include MQ(tablet) {
					@include span(10 of 12);
					@include squish(1, 1);
				}

				@include MQ(mobile) {
					@include span(full);
					@include squish(0);
				}
			}

			.block-transaction-actions {
				@include span(6 of 12);
				@include squish(3, 3);
				display: flex;
				justify-content: center;
				flex-direction: row;
				margin-top: 30px;

				@include MQ(tablet) {
					@include span(10 of 12);
					@include squish(1, 1);
					display: block;
				}

				@include MQ(mobile) {
					@include span(full);
					@include squish(0);
					display: block;
				}

				.block-transaction-button {
					@include span(3 of 6);
					margin-top: gutters();

					@include MQ(tablet) {
						@include span(5 of 10);
					}

					@include MQ(mobile) {
						@include span(full);
					}
				}
			}

			.block-transaction-form {
				@include span(8 of 12);
				@include squish(2, 2);
				margin-top: 25px;

				@include MQ(tablet) {
					@include span(10 of 12);
					@include squish(1, 1);
				}

				@include MQ(mobile) {
					@include span(full);
					@include squish(0);
				}

				.field-wrapper {
					@include span(4 of 8);

					@include MQ(tablet) {
						@include span(5 of 10);
					}

					@include MQ(mobile) {
						@include span(full);
					}

					&.is-large {
						@include span(full);
					}

					&.is-select {
						label {
							position: static;
							font-weight: 500;
							margin-bottom: 5px;
							transform: none;
						}
					}

					&.is-input {
						input {
							@include adjust-font-size-to(15px);
							@include adjust-leading-to(1);
							font-weight: 600;
							color: $thirdly-color;
						}
					}
				}

				.field-actions {
					@include span(8 of 12);
					@include squish(2, 2);

					@include MQ(tablet) {
						@include span(10 of 12);
						@include squish(1, 1);
					}

					@include MQ(mobile) {
						@include span(full);
						@include squish(0);
					}
					
					.field-actions-button {
						@include span(4 of 8);
						margin-top: gutters();

						@include MQ(tablet) {
							@include span(5 of 10);
						}

						@include MQ(mobile) {
							@include span(6 of 12);
						}
					}
				}
			}
		}
	}
}