/***************************
****************************
FOOTER BLOCK
CORE
****************************
****************************/

footer {
	&[role="contentinfo"] {
		@include span(full);
		position: fixed;
		bottom: -50px;
		z-index: 150;
		background-color: #ffffff;
		transition: bottom .45s ease;

		*zoom: 1;
		/*background-image: linear-gradient(to right, #125b97 0%,#125b97 79%,#ffffff 80%,#ffffff 100%);
		background-size: 100%;*/

		@include MQ(tablet) {
			*zoom: 1;
		    background-image: linear-gradient(to right, #125b97 0%, #125b97 100%);
		    background-size: 100%;
			position: static;
			margin-top: 25px;
		}

		&.is-active {
			bottom: 0;
		}
	}
}