/***************************
****************************
ARRAY BLOCK
MORE
****************************
****************************/

.block-array {
	.block-content-section {
		.array-line {
			.array-item-more {
				position: absolute;
				right: -180px;
				width: 430px;
				z-index: 50;
				background-color: #fff;
				display: none;
				visibility: hidden;
				opacity: 0;
				box-shadow: 0 0 20px 2.5px rgba(0,0,0,0.25);
				transition: visibility 0s ease .45s, opacity .45s ease, right .45s ease, max-height .45s ease;

				@include MQ(desktop) {
					position: static;
					width: 100%;
					max-height: 0;
					overflow: hidden;
					background-color: lighten(#074070, 75%);
					visibility: visible;
					opacity: 1;
				}

				.array-more-section {
					padding: 0 25px;

					.array-item-more-line {
						@include span(full);
						display: table;
						height: 50px;

						@include MQ(desktop) {
							height: 45px;
						}

						.array-item-more-cell {
							@include adjust-font-size-to(12px);
							@include adjust-leading-to(1);
							font-weight: 300;
							width: 50%;
							display: table-cell;
							vertical-align: middle;

							.legend {
								text-transform: uppercase;
							}

							.content {
								margin-top: 2.5px;

								b,
								a {
									font-weight: 600;
									color: $thirdly-color;
								}
							}
						}
					}
				}

				.array-more-footer {
					display: none;
				}

				.array-more-actions {
					margin: 25px 0;
					text-align: center;

					.button {
						color: #fff;
						background-color: $secondary-color;
					}
				}

				.array-more-header,
				.array-more-footer {
					position: relative;
					min-height: 50px;
					padding: 20px 25px;
					background-color: $secondary-color;

					@include MQ(desktop) {
						display: none;
					}

					.array-more-title {
						@include adjust-font-size-to(15px);
						@include adjust-leading-to(1);
						font-weight: 300;
						color: #fff;

						span {
							font-weight: 400;
						}
					}

					.array-more-button {
						position: absolute;
						top: 50%;
						right: 30px;
						transform: translateY(-50%);

						i {
							&:before {
								@include adjust-font-size-to(25px);
								@include adjust-leading-to(1);
								color: #fff;
							}
						}
					}
				}

				.array-more-header,
				.array-more-section,
				.array-more-footer,
				.array-more-actions {
					@include span(full);

					@include MQ(tablet) {
						width: 100vw;
					}
				}
			}
		}
	}
}