/***************************
****************************
ARRAY BLOCK
BODY
****************************
****************************/

.block-array {
	.block-content-section {
		.array-line {
			@include span(full);
			position: relative;

			.array-item-cell {
				padding: 0 15px;
				border-bottom: 1px solid #e3e3e3;
				cursor: pointer;
				background-color: #fff;

				&.is-highlight {
					background-color: lighten(#074070, 75%);
				}

				.block-item-content {
					@include adjust-font-size-to(12px);
					@include adjust-leading-to(1.25);
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: left;
					word-wrap: break-word;
				}
			}
			
			&.is-open {
				.array-item-more {
					right: -40px;
					visibility: visible;
					opacity: 1;
					transition: visibility 0s ease 0s, opacity .45s ease, right .45s ease, max-height .45s ease;

					@include MQ(desktop) {
						max-height: 500px;
						border-bottom: 1px solid #e3e3e3;		
					}
				}
			}

			&.is-bottom {
				.array-item-more {
					bottom: 0;

					.array-more-header {
						display: none;
					}

					.array-more-footer {
						display: block;
					}
				}
			}
		}
	}
}